body {
  background: #F1F1F1;
  font-family: 'Montserrat', sans-serif;
}

/***** INDEX PAGE *****/

.navbar {
  background: rgba(241, 241, 241, 0.6);
}

.navbar li a:hover {
  background: white;
}

.navbar li {
  text-align: center;
}

.navbar a {
  color: rgb(30, 30, 32);
}

.icon-bar {
  background: rgb(30, 30, 32);
}

.jumbotron {
  background: url(../images/jumbotron-min.jpg) no-repeat center center;
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  color: white;
  text-shadow: 1px 2px #000;
  margin-top: 200px;
  background: rgb(30, 30, 32);
}

.main img {
  margin-bottom: 20px;
}

/* Testing stuff */
.overlay {
  -webkit-filter: grayscale(100%);
}

h2 {
  position: absolute;
  top: 10px;
  left: 70px;
  width: 100%;
  visibility: hidden;
  color: white;
}
