body {
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  height: 100vh;
  background: linear-gradient(to bottom, #3498db 0, #1abc9c 100%);
  margin-bottom: 0;
}

.navbar a {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar li a:hover {
  background: none;
  color: #eee;
}

.navbar .icon-bar {
  background-color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    outline: none;
    margin-top: 20px;
}

.navbar .navbar-collapse {
    text-align: center;
}

/***** HEADER *****/
header .title {
  text-align: center;
  font-size: 120px;
  color: white;
}

header .subtext {
  font-size: 50px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.header-btn {
  color: white;
  border: 1px solid white;
  padding: 20px 60px;
  font-size: 25px;
  transition: .5s ease;
}

.header-btn:hover {
  text-decoration: none;
  background-color: white;
  color: #3498db;
}


/***** MAIN *****/

.main {
  height: 100vh;
  background-color: #ecf0f1;
}

/***** ABOUT *****/
.about {
  height: 100vh;
  background-color: #9b59b6;
}

/***** CONTACT *****/
.contact {
  height: 100vh;
  background-color: #34495e;
}

/***** HELPER *****/
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/***** MEDIA QUERIES *****/
@media screen and (max-width: 767px) {
  .navbar {
    background: rgba(0,0,0, 0.5);
  }
}
