body {
    font-family: 'Montserrat', sans-serif;
}
.jumbotron {
    height: 100vh;
    margin-bottom: 0;
    background: linear-gradient(to bottom, #3498db 0, #1abc9c 100%);
}
.navbar a {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}
.navbar li a:hover {
    color: #eee;
    background: none;
}
.navbar .icon-bar {
    background-color: white;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-top: 10px;
    outline: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

/***** HEADER *****/

header .title {
    text-align: center;
    opacity: 1;
    color: white;
    font-size: 120px;
}
header .subtext {
    margin-bottom: 50px;
    text-align: center;
    opacity: 1;
    color: white;
    font-size: 50px;
}
.header-btn {
    padding: 20px 60px;
    transition: all .5s ease;
    opacity: 1;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 25px;
}
.header-btn:hover {
    transition: all .35s ease;
    text-decoration: none;
    color: #3498db;
    background-color: white;
}

/***** MAIN *****/

.main {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #bdc3c7;
}

/***** ABOUT *****/

.about {
    height: 100vh;
    background-color: #9b59b6;
}
.me {
    width: 20%;
    height: 20%;
    border-radius: 100%;
}
.about p {
    text-align: center;
    color: white;
    font-size: 20px;
}

/***** CONTACT *****/

.contact {
    height: 100vh;
    background-color: #34495e;
}

/***** HELPER *****/

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.grow {
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border: 0;
}
.grow:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

/***** MEDIA QUERIES *****/

@media screen and (max-width: 767px) {
    .navbar {
        background: rgba(0, 0, 0, 0.5);
    }
}
